@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
    font-family: "Inter", "Roboto", sans-serif;
}

.table__title {
    font-weight: 900;
    font-size: 1.2em;
    text-align: center;
    color: #4E79D6;
}